<!-- START Content Mustache Template -->

<div id="promo">

	<h3>Premium internet access is now available at this location.</h3><br />
	
	<br />
	
	<img src="./img/mikrotikuapromo.png" />
	
	<br />
	
	<p>
		Premium Access gives you: <br />
		<ul>
			<li>Faster speeds</li>
			<li>Dedicated public IP on request</li>
			<li>Video streaming (disabled on free network)</li>
			<li>No filtering of adult content</li>
			<li>Connections for gaming consoles, VPNs and VoIP devices (disabled on free network)</li>
			<li>Private login</li>
		</ul>
	</p>

	<a href="http://75.98.152.27/user/signup">Sign Up</a>
    <a href="http://75.98.152.27/user/">Edit Account</a>
<br />

</div>

<!-- END Content Mustache Template -->